
html, body {
  margin: 0;
  padding: 0;
  background-color: #5A1D8D;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; font-display: swap; 
    
}


.menubar{
    position: fixed;
    background-color: #F7F4FA;
    width: 100%;
}

.menuimg{
    width: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color:#2D2A23;
    padding: 0px;
    width: 100%;
    margin: 0px;
}

.footerHeader{
    text-align: center;
    letter-spacing: 8%;
    color: rgb(230, 230, 230);
}

.footerText{
    text-align: center;
    color:rgb(122, 122, 122)
}

#footerCopy{
    border-top: 2px solid rgb(122, 122, 122);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    padding-top: 10px;
}